.wrapper-form-content-list {
    height: 40px;
    width: 306px;
    border: 1px solid black;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
    color: #8B8B8B;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.wrapper-form-content-list:hover .wrapper-form-content-list-head {
    display: block;
}

.wrapper-form-content-list-head {
    display: none;
    position: absolute;
    top: 39px;
    left: -1px;
    border: 1px solid black;
    padding: 0;
    width: 306px;
}

.wrapper-form-content-list-content {
    margin-top: 5px;
    height: 33px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.wrapper-form-content-list-content:hover {
    text-shadow: 0px 0px 1px black;
    color: black
}

.content-list {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    border: none;
}