.wrapper-table-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 135px;
}

.row {
    display: flex;
    justify-content: flex-start;
    min-height: 44px;

    padding-left: 15px;
}


.wrapper-table-header {
    background: #C3002F;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;


}

.wrapper-table-header-name {
    display: flex;
    width: 454px;
    flex-direction: column;
    justify-content: center;
}

.wrapper-table-content-name {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.wrapper-table-header-year {
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.wrapper-table-header-color {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.wrapper-table-header-status {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.wrapper-table-header-cost {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.btn {
    border: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    width: 85px;
    height: 29px;

}

.btn-delete {
    font-size: 14px;
    line-height: 20px;
    color: #8B8B8B;
    cursor: pointer;
}

.btn-delete:hover {
    color: #FFF;
    background-color: #282D30;
    border-radius: 20px;
}

.cell_1 {
    order: 1;
    width: 50%;
}

.cell_2 {
    order: 2;
    width: 8%;
}

.cell_3 {
    order: 3;
    width: 7%;
}

.cell_4 {
    order: 3;
    width: 10%;
}

.cell_5 {
    order: 5;
    width: 15%;
}

.cell_6 {
    order: 6;
    width: 10%;
}

.cell_7 {
    order: 7;
    width: 50%;
}

@media (max-width:719px) {
    .wrapper-table-header {
        display: none;
    }

    .row {
        flex-wrap: wrap;
    }

    .btn-delete {
        color: #FFF;
        background-color: #282D30;
        border-radius: 20px;
    }


    .cell_1 {
        margin-top: 5px;
        order: 1;
        width: 50%;
    }

    .cell_2 {
        margin-top: 5px;
        order: 5;
        width: 20%;
    }

    .cell_3 {
        margin-top: 5px;
        order: 2;
        width: 15%;
    }

    .cell_4 {
        margin-top: 5px;
        order: 6;
        width: 50%;
    }

    .cell_5 {
        margin-top: 5px;
        order: 3;
        width: 35%;
    }

    .cell_6 {
        margin-top: 5px;
        order: 7;
        width: 30%;
    }

    .cell_7 {
        margin-top: 5px;
        order: 4;
        width: 100%;
    }
}